* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(226, 43%, 10%);
  color: white;
  font-family: "Rubik", sans-serif;
}
/* grid  */
.grid-container {
  display: grid;
  margin: 10vh 5vw 0vh 15vw;
  grid-template:
    "first work play study"
    "first exercise social self-care";
  grid-gap: 30px;
  height: 80vh;
}
.first {
  grid-area: first;
}

.work {
  grid-area: work;
}
.play {
  grid-area: play;
}
.study {
  grid-area: study;
}
.exercise {
  grid-area: exercise;
}
.social {
  grid-area: social;
}
.self-care {
  grid-area: self-care;
}

/* first card*/
.img {
  height: 80px;
  border: solid white 3px;
  border-radius: 50%;
}

.card-first {
  background-color: hsl(235, 46%, 20%);
  border-radius: 4%;
  height: 100%;
  width: 90%;
}
.first-subcard {
  background-color: hsl(246, 80%, 60%);
  border-radius: 5%;
  height: 75%;
  padding-left: 10%;
  padding-top: 10%;
}

.report {
  color: rgb(185, 177, 170);
  margin-top: 10%;
}
.name {
  font-weight: 300;
  font-size: 2.5em;
  margin-top: 5px;
}
.pale-blue {
  color: hsl(236, 100%, 87%);
}

.footnotes {
  color: hsl(235, 45%, 61%);
  font-family: "Rubik";
  font-size: 20px;
  font-weight: 300;
  border-radius: 5%;
  width: 90%;
  padding-left: 10px;
  margin-left: 10px;
}
.footnote:hover {
  cursor: pointer;
  color: white;
}
.footnote {
  margin: 10px;
}

/* work card */

.card-work {
  height: 100%;
  border-radius: 5%;
  position: relative;
  background-color: hsl(15, 100%, 70%);
}
.card-play {
  height: 100%;
  border-radius: 5%;
  position: relative;
  background-color: hsl(195, 74%, 62%);
}
.card-study {
  height: 100%;
  border-radius: 5%;
  position: relative;
  background-color: hsl(348, 100%, 68%);
}
.card-exercise {
  height: 100%;
  border-radius: 5%;
  position: relative;
  background-color: hsl(145, 58%, 55%);
}
.card-social {
  height: 100%;
  border-radius: 5%;
  position: relative;
  background-color: hsl(264, 64%, 52%);
}
.card-self-care {
  height: 100%;
  border-radius: 5%;
  position: relative;
  background-color: hsl(43, 84%, 65%);
}
.icons {
  float: right;
  padding-right: 10px;
}
.sub-card {
  justify-content: space-between;
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  padding: 15px;
  border-radius: 5%;
  background-color: hsl(235, 46%, 20%);
}
.sub-card:hover {
  cursor: pointer;
  background-color: hsl(236, 100%, 87%);
}
.options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}
.text-time {
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}
/* play */
.text-time > h1 {
  font-size: 3em;
  font-weight: 300;
}

.text-time > p {
  color: hsl(235, 45%, 61%);
}

/* mobile */

@media only screen and (max-width: 768px) {
  .grid-container {
    display: block;
    /* justify-content:space-around; */
    margin: 0;
  }
  .grid-item {
    display: flex;
    margin: auto;
    /* height: 20%; */
  }
  .card-first {
    width: 100%;
    margin-bottom: 15px;
  }

  .first-subcard {
    display: flex;
    /* padding-bottom: 5vh; */
    width: 100vw;
    height: 100%;
  }
  .details {
    margin-left: 5vw;
    top: 0;
  }
  .footnotes {
    display: flex;
    justify-content: space-between;
    top: 30vh;
  }
  .card-work {
    width: 100vw;
    display: block;
    padding-bottom: 5vh;
    margin-bottom: 15px;
  }
  .sub-card {
    display: block;
    width: 100vw;
    padding:10%;
  }
}
