* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(226, 43%, 10%);
  color: white;
  font-family: "Rubik", sans-serif;
}
/* grid  */
.grid-container {
  display: grid;
  margin: 10vh 5vw 0vh 15vw;
  grid-template:
    "first work play study"
    "first exercise social self-care";
  grid-gap: 30px;
  height: 80vh;
}
.first {
  grid-area: first;
}

.work {
  grid-area: work;
}
.play {
  grid-area: play;
}
.study {
  grid-area: study;
}
.exercise {
  grid-area: exercise;
}
.social {
  grid-area: social;
}
.self-care {
  grid-area: self-care;
}

/* first card*/
.img {
  height: 80px;
  border: solid white 3px;
  border-radius: 50%;
}

.card-first {
  background-color: hsl(235, 46%, 20%);
  border-radius: 4%;
  height: 100%;
}
.first-subcard {
  background-color: hsl(246, 80%, 60%);
  border-radius: 5%;
  height: 75%;
  padding-left: 10%;
  padding-top: 10%;
}

.report {
  margin-top: 10%;
}
.name {
  font-weight: 300;
  font-size: 2.5em;
  margin-top: 5px;
}
.pale-blue {
  color: hsl(236, 100%, 87%);
}
.desaturated-blue {
  color: hsl(235, 45%, 61%);
}
.footnotes {
  color: hsl(235, 45%, 61%);
  font-size: 15px;
  border-radius: 5%;
  width: 90%;
  padding-left: 10px;
  margin-left: 10px;
}
.footnote:hover {
  color: white;
}
.footnote {
  margin: 10px;
}

/* work card */

.card-work {
  height: 100%;
  border-radius: 5%;

  background-color: hsl(15, 100%, 70%);
}

.icons {
  float: right;
  padding-right: 10px;
  height: 20px;
  /* flex-direction:column-reverse; */
}
.subcard-work {
  background-color: hsl(235, 46%, 20%);
  justify-content: space-between;
  /* width: 100%; */
  padding: 15px;
  position:bottom;

  border-radius: 5%;
}
.options {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
